# See https://github.com/DigitalInnovation/trading-hub/blob/main/docs/auth-local-dev.md
AZURE_AD_CLIENT_ID="XXXX"
AZURE_AD_TENANT_ID="XXXX"
AZURE_AD_CLIENT_SECRET="XXXX"

NEXTAUTH_URL="http://localhost:3000"

MERCHANDISING_API_BASEURL="https://api-dev.marksandspencer.com/merchandising"
# ask in Search and Sort Tech Chat for key
MERCHANDISING_API_APIGEE_KEY="XXXX" 

# replace XXXX with your own values, preferably from running `openssl rand -base64 32`
NEXTAUTH_SECRET="XXXX"

NEXT_PUBLIC_AUTO_LOGIN=false
# E2E_TEST_USER_TOKEN="XXXX"

# Analytics
CLARITY_KEY="XXXX"

# Disable auto login for mock e2e and smoke tests
# NEXT_PUBLIC_AUTO_LOGIN='false'

# playwright end to end smoke tests
# ask in Search and Sort Tech Chat for token
SMOKE_TEST_TOKEN="XXXX"

# PROD SMOKE TESTS 
# ask in Search and Sort Tech Chat for password
PROD_TEST_USER="y9786775@mnscorp.net"
PROD_TEST_USER_PASSWORD="XXXX"

# Dynatrace RUM
DYNATRACE_RUM_SCRIPT_URL_DEV="XXXX"
DYNATRACE_URL="https://kqi08127.live.dynatrace.com"
DYNATRACE_PROD_API_TOKEN="XXXX"

# Enable accented content on dev environment
NEXT_PUBLIC_RUN_ACCENTED_ON_DEV="false"
