
AZURE_AD_CLIENT_ID="XXXX"
AZURE_AD_TENANT_ID="XXXX"
AZURE_AD_CLIENT_SECRET="XXXX"

NEXTAUTH_URL="http://localhost:3000"

MERCHANDISING_API_BASEURL="https://dev-search-service-v1-eun-layer3-app.azurewebsites.net/merchandising/"
MERCHANDISING_API_APIGEE_KEY="XXXX"

# replace XXXX with your own values, preferably from running `openssl rand -base64 32`
NEXTAUTH_SECRET="XXXX"


# playwright end to end tests
SMOKE_TEST_TOKEN='XXXX'
# NEXT_PUBLIC_AUTO_LOGIN='false'

# PROD SMOKE TESTS
PROD_TEST_USER='XXXX'
PROD_TEST_USER_PASSWORD='XXXX'
