.container {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;

  h1,
  h2 {
    width: 100%;
    margin-bottom: var(--mns-spacing-1);
  }
}

.guide {
  width: 33%;
  margin: 0 0 var(--mns-spacing-2);
}

.buttonExample {
  width: 60%;
}

.colour {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
}

.infoBlueBackground {
  background-color: #eaf0f3;
}

.lightGreen {
  background-color: #dfece2;
}

.lightGrey {
  background-color: #ccc;
}

.selectionBox {
  background-color: #4273b7;
}

.successGreenBackground {
  background-color: #f4faed;
}
